html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(39, 49, 46);
}

#webcam {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

#canvas {
  display: inline-block;
  z-index: 1;
}
