html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  width: 100vw;
  height: 100vh;
  background-color: rgb(55, 55, 58);
}

#webcam {
  display: none;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cargador {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  color: whitesmoke;

  &.esconder {
    display: none;
  }
}
